.s-main-nav {

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #09a4c5;
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    border-radius: 30px;

    @media only screen and (max-width: ($screen-lg - 1)) {
      font-size: 14px;
      line-height: 22px;
    }

    li {
      margin: 0;
      padding: 0;

      a,
      span {
        display: block;
        color: currentCOlor;
        padding: 6px 20px 4px;
        text-decoration: none;

        @media only screen and (max-width: ($screen-lg - 1)) {
          padding: 6px 15px 4px;
        }
      }

      a {

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }

      span {
        box-shadow: 0px 6px 13px 0 rgba(13, 142, 169, 0.34);
        background-color: #45cce8;
        border-radius: 30px;
      }
    }
  }
}
