.s-testimonials {
  position: relative;
  @include section-padding;

  @media (min-width: $screen-xl) {
    background-image: url(../img/palms-5.svg), url(../img/birds-3.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left 0 top 100%, right -50% top 30%;
    background-size: contain, 798px 163px;
  }

  &__inner {
    max-width: 1200px;
    margin: auto;
  }

  &__title {
    @include section-title;
  }

  &__desc {
    @include section-desc;
  }

  &__slider-nav {
    display: flex;
    justify-content: center;

    @media (min-width: $screen-xl) {
      position: absolute;
      top: calc(50% - 25px);
      left: 0;
      right: 0;
      z-index: 100;
    }
  }

  &__slider-next,
  &__slider-prev {
    background-color: #2cbfde;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    position: relative;
    margin: 10px;

    @media (min-width: $screen-xl) {
      position: absolute;
    }

    svg {
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
    }
  }

  &__slider-prev {
    transform: rotate3d(0,0,1,180deg);

    @media (min-width: $screen-xl) {
      left: 0;
    }
  }

  &__slider-next {

    @media (min-width: $screen-xl) {
      right: 0;
    }
  }

  &__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}