.s-promo {
  @include section-padding;
  text-align: center;

  @media (max-width: ($screen-md - 1)) {
    text-align: center;
    padding: 150px 20px 20px;
  }

  @media (min-width: $screen-lg) {
    text-align: center;
    padding: 270px 20px;
  }

  @media (min-width: $screen-xl) {
    background-image: url(../img/bg-promo.svg);
    background-size: contain;
    background-position: center 0;
    background-repeat: no-repeat;
    min-height: 80vw;
    padding: 337px 20px;
    text-align: left;
  }

  &__inner {
    max-width: 1200px;
    margin: auto;
  }

  &__info {
    max-width: 400px;

    @media (max-width: ($screen-xl - 1)) {
      margin: auto;
    }
  }

  &__title {
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 700;
    font-family: $font-family--heading;

    @media (max-width: ($screen-xl - 1)) {
      text-align: center;
      color: $text-color;
      font-size: 48px;
      line-height: 48px;
      color: #2cbfde;
    }
  }

  &__desc {
    font-size: 16px;
    line-height: 24px;
    color: #daf1f1;
    margin-bottom: 40px;

    @media (max-width: ($screen-xl - 1)) {
      text-align: center;
      color: $text-color;
    }
  }
}