.s-news {
  background-color: #eef6ce;
  position: relative;
  @include section-padding;

  @media (min-width: $screen-xl) {
    background-image: url(../img/birds-2.svg), url(../img/palms-4.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left 0% top 20%, right -10% top 100%;
    background-size: 275px 204px, contain;
  }

  &__inner {
    max-width: 1680px;
    margin: auto;
    z-index: 2;
    position: relative;
  }

  &__title {
    @include section-title;
  }

  &__desc {
    @include section-desc;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media (min-width: $screen-xs) {
      display: flex;
      flex-flow: row wrap;
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  &__item {
    margin: 0 0 20px 0;
    padding: 0;

    @media (min-width: $screen-xs) {
      flex: 0 0 50%;
      max-width: 50%;
      padding-left: 10px;
      padding-right: 10px;
    }

    @media (min-width: $screen-md) {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }

  &__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}