mixin news-card(image, subtitle, desc)

  a.s-news-card(href='/')
    .s-news-card__cover
      img(src=image, alt='/')
    .s-news-card__info
      time.s-news-card__date(datetime='0000-00-00') 3 декабря
      h3.s-news-card__subtitle #{subtitle}
      p.s-news-card__briefly #{desc}