.s-news-card {
  display: block;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.25s cubic-bezier(0.6,0,0,1.2);
  width: 100%;
  color: #049bbe;
  height: 100%;

  &:hover,
  &:focus {
    background-color: #f2fbff;
    color: #049bbe;
    text-decoration: none;
    box-shadow: 0px 8px 18px 0 rgba(105, 158, 170, 0.26);
  }

  &__cover {
    width: 100%;
    height: 210px;

    @media (min-width: $screen-xxl) {
      height: 270px;
    }

    img {
      display: block;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 20px;

    @media (min-width: $screen-sm) {
      padding: 30px;
    }
  }

  &__date {
    color: #049bbe;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    display: block;
  }

  &__subtitle {
    font-size: 24px;
    line-height: 26px;
    font-family: $font-family--heading;
    font-weight: 700;
  }

  &__briefly {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
  }
}