mixin testimonial-card()

  .s-testimonial-card
    blockquote.s-testimonial-card__blockquote
      p.s-testimonial-card__quote Lorem ipsum dolor sit amet, consectetur adipelit, sed do eiusmod tempor incididunt ut  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Lorem ipsum dolor sit amet, consectetur adip do eiusmod tempor incididunt.
      footer.s-testimonial-card__quotee Ирина Сергеева, мама Игоря
    .s-testimonial-card__avatar
      img(src='https://images.unsplash.com/photo-1564156280315-1d42b4651629?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80', alt='/')