.s-testimonial-card {
  display: flex;
  flex-flow: column wrap;

  @media (min-width: $screen-xs) {
    flex-flow: row wrap;
    justify-content: flex-start;

    @media (min-width: $screen-sm) {
      padding-top: 26px;
      justify-content: center;
    }
  }

  &__avatar {
    border: 5px solid #049bbe;
    width: 100px;
    height: 100px;
    border-radius: 200px;
    overflow: hidden;

    @media (min-width: $screen-sm) {
      order: 1;
      flex-shrink: 0;
      margin-right: 20px;
      transform: translate3d(0,-26px,0);
    }

    @media (min-width: $screen-md) {
      width: 200px;
      height: 200px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__blockquote {
    border-radius: 20px 20px 20px 0;
    font-size: 16px;
    line-height: 24px;
    background-color: #049bbe;
    color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 123.96 109.3'%3E%3Cpath fill='%23fdd938' d='M49.8 21.7a6 6 0 003-8L47.9 3.4A6 6 0 0040.1.5a68.89 68.89 0 00-21.6 14A52.26 52.26 0 004 37.4C1.4 46 0 57.7 0 72.6v30.7a6 6 0 006 6h39.3a6 6 0 006-6V64a6 6 0 00-6-6H26.5c.2-10.1 2.6-18.2 7-24.3 3.6-4.9 9-8.9 16.3-12zM120.4 21.7a6 6 0 003-8l-4.9-10.2a6 6 0 00-7.8-2.9 72.45 72.45 0 00-21.5 13.9 53.37 53.37 0 00-14.6 23q-3.9 12.6-3.9 35.1v30.7a6 6 0 006 6H116a6 6 0 006-6V64a6 6 0 00-6-6H97.1c.2-10.1 2.6-18.2 7-24.3 3.6-4.9 9-8.9 16.3-12z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 34px 30px;
    background-position: top 20px left 20px;
    position: relative;
    margin-bottom: 20px;
    padding: 75px 20px 20px;

    @media (min-width: $screen-sm) {
      order: 2;
      background-position: top 30px left 60px;
      border-radius: 0 20px 20px 20px;
      padding: 100px 60px 60px;
    }

    &::before {
      position: absolute;
      content: '';
      bottom: -27px;
      left: 0;
      width: 32px;
      height: 32px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 23 32'%3E%3Cpath fill='%23049BBE' d='M22.5 0v31.5L1.38426 3.19592C.400166 1.87682 1.34156 0 2.98731 0H22.5z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transform: rotate3d(0,0,1,-90deg);

      @media (min-width: $screen-sm) {
        transform: none;
        bottom: none;
        top: 0;
        left: -27px;
      }
    }
  }

  &__quote {
    margin: 0 0 10px 0;

    @media (min-width: $screen-sm) {
      margin: 0 0 40px 0;
      max-width: 480px;
    }
  }

  &__quotee {
    color: #fdd938;

    &::before {
      position: relative;
      content: '—';
      margin-right: 5px;
    }
  }
}