.s-our-instagram {
  background-color: #eef6ce;
  position: relative;
  @include section-padding;

  @media (min-width: $screen-xl) {

    &::before {
      position: absolute;
      content: '';
      z-index: 10;
      background-image: url(../img/sand-castle.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 350px;
      height: 366px;
      top: -250px;
      right: 20px;
    }
  }

  &__title {
    @include section-title;
  }

  &__desc {
    @include section-desc;
  }

  &__gallery {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-bottom: 30px;
  }

  &__gallery-item {
    position: relative;
    flex: 1 1 220px;
    max-width: 220px;
    overflow: hidden;
    border-radius: 10px;

    &:not(:last-child) {
      margin-right: 15px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__follow {
    text-align: center;
  }
}