.s-breadcrumb {
  padding: 0;
  list-style: none;
  margin: 0 0 20px 0;
  color: #5089a3;
  font-size: 16px;

  @media (max-width: ($screen-md - 1)) {
    display: none;
  }

  &__item {
    display: inline-block;
    margin: 0;
    white-space: nowrap;
    margin-right: 5px;

    &:not(:last-child):after {
      content: '';
      transform: translateY(-1px);
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%235089a3' fill-rule='evenodd' clip-rule='evenodd' d='M1.17714 17.2711C0.607621 17.8382 0.607621 18.7576 1.17714 19.3247C1.74665 19.8918 2.67002 19.8918 3.23953 19.3247L11.5729 11.0268C12.1424 10.4597 12.1424 9.54028 11.5729 8.97319L3.23953 0.675318C2.67002 0.108227 1.74665 0.108227 1.17714 0.675318C0.607621 1.24241 0.607621 2.16185 1.17714 2.72894L8.48326 10.004L1.17714 17.2711Z'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: 6px 10px;
      background-position: center;
      border: 1px solid #5089a3;
      border-radius: 10px;
      width: 18px;
      height: 18px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
    }

    a {
      color: currentColor;
      text-decoration: none;

      &:hover,
      &:focus {
        color: currentColor;
        text-decoration: none;
      }
    }
  }
}