mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__inner
      a.s-page-header__logo(href='/index.html') Таинственный остров
      nav.s-main-nav.s-page-header__nav
        ul
          li: span Главная
          li: a(href='/') О нас
          li: a(href='/') Услуги и цены
          li: a(href='/') Фотогалерея
          li: a(href='/') Полезное
          li: a(href='/') Контакты
      .s-page-header__contacts
        ul
          li: a.viber(href='/')
            +svg-icon('viber', 17, 20)
          li: a.vk(href='/', rel='noopener', target='_blank')
            +svg-icon('vk', 17, 12)
          li: a.instagram(href='/', rel='noopener', target='_blank')
            +svg-icon('instagram', 17, 17)
          li: a.tel(href='/')
            +svg-icon('tel', 14, 14)
          li: a.address(href='/')
            +svg-icon('address', 13, 18)
      .s-page-header__mobile-menu#mobile-menu
        +hamburger('Show mobile navigation', 'mobile-menu', 's-page-header__mobile-menu--is-open').s-page-header__hamburger
        .s-page-header__mobile-menu-content
          .s-page-header__mobile-menu-content-inner
            .s-page-header__mobile-menu-nav
              ul
                li: span Главная
                li: a(href='/') О нас
                li: a(href='/') Услуги и цены
                li: a(href='/') Фотогалерея
                li: a(href='/') Полезное
                li: a(href='/') Контакты
            .s-page-header__mobile-menu-contacts
              ul
                li: a.viber(href='/')
                  +svg-icon('viber', 17, 20)
                li: a.vk(href='/', rel='noopener', target='_blank')
                  +svg-icon('vk', 17, 12)
                li: a.instagram(href='/', rel='noopener', target='_blank')
                  +svg-icon('instagram', 17, 17)
                li: a.tel(href='/')
                  +svg-icon('tel', 14, 14)
                li: a.address(href='/')
                  +svg-icon('address', 13, 18)