.s-page-header {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0% 0% 50% 50% / 0% 0% 10% 10%;
  box-shadow: 0px 5px 9px 0 rgba(13, 142, 169, 0.41);
  background-color: #2cbfde;
  padding: 20px;

  @media only screen and (min-width: $screen-md) {
    padding: 30px 20px;
  }

  @media only screen and (min-width: $screen-lg) {
    padding: 20px;
  }

  &__inner {
    max-width: 1200px;
    margin: auto;

    @media (min-width: $screen-md) {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      position: relative;
    }

    @media only screen and (min-width: $screen-lg) {
      min-height: 117px;
    }
  }

  &__logo {
    font-family: $font-family--heading;
    font-weight: 700;
    color: #ecf8fb;
    font-size: 30px;
    line-height: 30px;
    max-width: 220px;

    @media (max-width: ($screen-md - 1)) {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
    }

    @media only screen and (max-width: ($screen-lg - 1)) {
      font-size: 20px;
      line-height: 20px;
      max-width: 150px;
    }
  }

  &__nav {

    @media (max-width: ($screen-md - 1)) {
      display: none;
    }
  }

  &__contacts {
    margin-left: 15px;

    @media (max-width: ($screen-md - 1)) {
      display: none;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-flow: row wrap;

      li {
        margin: 0;
        padding: 0;

        &:not(:last-child) {
          margin-right: 7px;
        }

        a {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;
          width: 33px;
          height: 33px;
          border-radius: 30px;
          border: 3px solid #fff;
          box-shadow: 0px 5px 9px 0 rgba(13, 142, 169, 0.41);
          color: #fff;

          svg {
            fill: currentColor;
            display: inline-block;
            vertical-align: middle;
          }

          &.viber {
            background-color: #7d3daf;
          }

          &.vk {
            background-color: #4a76a8;
          }

          &.instagram {
            background:
              linear-gradient(
                45deg,
                #ffdd55 0%,
                #ff543e 50%,
                #c837ab 100%
              );
          }

          &.tel {
            background-color: #2bbfde;
          }

          &.address {
            background-color: #f12e4a;
          }
        }
      }
    }
  }

  &__hamburger {

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &__mobile-menu {
    display: flex;
    justify-content: flex-end;

    &--is-open {

      .s-page-header__mobile-menu-content-inner {
        transform: none;
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__mobile-menu-content {
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: flex-end;
    pointer-events: none;
    perspective: 2000px;
  }

  &__mobile-menu-content-inner {
    background: #fff;
    box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), 0 -18px 60px -10px rgba(0,0,0,.025);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    flex-grow: 1;
    transform: scale(.95);
    transform-origin: 100% 0;
    opacity: 0;
    will-change: transform,opacity;
    transition-property: transform,opacity;
    transition-duration: .25s;
  }

  &__mobile-menu-nav {
    padding: 20px 20px 10px;
    border-bottom: 1px solid rgba($text-color, 0.125);

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;

        a,
        span {
          color: currentColor;
          font-size: 16px;
          line-height: 24px;
          display: inline-block;
          padding: 0.25rem 0;
        }
      }
    }
  }

  &__mobile-menu-contacts {
    padding: 10px 20px 20px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      li {
        padding: 0;
        margin: 0;

        a {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;
          width: 33px;
          height: 33px;
          border-radius: 30px;
          border: 3px solid #fff;
          box-shadow: 0px 5px 9px 0 rgba(13, 142, 169, 0.41);
          color: #fff;

          svg {
            fill: currentColor;
            display: inline-block;
            vertical-align: middle;
          }

          &.viber {
            background-color: #7d3daf;
          }

          &.vk {
            background-color: #4a76a8;
          }

          &.instagram {
            background:
              linear-gradient(
                45deg,
                #ffdd55 0%,
                #ff543e 50%,
                #c837ab 100%
              );
          }

          &.tel {
            background-color: #2bbfde;
          }

          &.address {
            background-color: #f12e4a;
          }
        }
      }
    }
  }
}