mixin schedule-table()

  .s-schedule-info__table
    .s-schedule-info__day Понедельник
    .s-schedule-info__day Вторник
    .s-schedule-info__day Среда
    .s-schedule-info__day Четверг
    .s-schedule-info__day Пятница
    .s-schedule-info__day Суббота
    .s-schedule-info__day Воскресенье

    .s-schedule-info__card.s-schedule-info__card--playroom Игровая комната ежедневно 10:00-20:00

    .s-schedule-info__card.s-schedule-info__card--hidden
    .s-schedule-info__card.s-schedule-info__card--short-term
      span.s-schedule-info__time 11:00-12:00
      span.s-schedule-info__desc Группа кратковременного пребывания (2 часа и 3 часа)
    .s-schedule-info__card.s-schedule-info__card--hidden
    .s-schedule-info__card.s-schedule-info__card--short-term
      span.s-schedule-info__time 11:00-12:00
      span.s-schedule-info__desc Группа кратковременного пребывания (2 часа и 3 часа)
    .s-schedule-info__card.s-schedule-info__card--hidden
    .s-schedule-info__card.s-schedule-info__card--short-term
      span.s-schedule-info__time 11:00-12:00
      span.s-schedule-info__desc Группа кратковременного пребывания (2 часа и 3 часа)
    .s-schedule-info__card.s-schedule-info__card--short-term
      span.s-schedule-info__time 11:00-12:00
      span.s-schedule-info__desc Группа кратковременного пребывания (2 часа и 3 часа)

    .s-schedule-info__card.s-schedule-info__card--games
      span.s-schedule-info__time 12:00-13:00
      span.s-schedule-info__desc Подвижные игры 3-4 г.
    .s-schedule-info__card.s-schedule-info__card--mother-and-child
      span.s-schedule-info__time 12:00-13:00
      span.s-schedule-info__desc Мама и малыш 1,5-3 г. Творчество + игры
    .s-schedule-info__card.s-schedule-info__card--games
      span.s-schedule-info__time 12:00-13:00
      span.s-schedule-info__desc Подвижные игры 3-4 г.
    .s-schedule-info__card.s-schedule-info__card--mother-and-child
      span.s-schedule-info__time 12:00-13:00
      span.s-schedule-info__desc Мама и малыш 1,5-3 г. Творчество + игры
    .s-schedule-info__card.s-schedule-info__card--games
      span.s-schedule-info__time 12:00-13:00
      span.s-schedule-info__desc Подвижные игры 3-4 г.
    .s-schedule-info__card.s-schedule-info__card--mother-and-child
      span.s-schedule-info__time 12:00-13:00
      span.s-schedule-info__desc Мама и малыш 1,5-3 г. Творчество + игры
    .s-schedule-info__card.s-schedule-info__card--mother-and-child
      span.s-schedule-info__time 12:00-13:00
      span.s-schedule-info__desc Мама и малыш 1,5-3 г. Творчество + игры

    .s-schedule-info__card.s-schedule-info__card--games
      span.s-schedule-info__time 13:00-14:00
      span.s-schedule-info__desc Подвижные игры 5-6 л.
    .s-schedule-info__card.s-schedule-info__card--art
      span.s-schedule-info__time 13:00-14:00
      span.s-schedule-info__desc Творчество 3-6 л. Рисование, лепка, апликация
    .s-schedule-info__card.s-schedule-info__card--games
      span.s-schedule-info__time 13:00-14:00
      span.s-schedule-info__desc Подвижные игры 5-6 л.
    .s-schedule-info__card.s-schedule-info__card--art
      span.s-schedule-info__time 13:00-14:00
      span.s-schedule-info__desc Творчество 3-6 л. Рисование, лепка, апликация
    .s-schedule-info__card.s-schedule-info__card--games
      span.s-schedule-info__time 13:00-14:00
      span.s-schedule-info__desc Подвижные игры 5-6 л.
    .s-schedule-info__card.s-schedule-info__card--art
      span.s-schedule-info__time 13:00-14:00
      span.s-schedule-info__desc Творчество 3-6 л. Рисование, лепка, апликация
    .s-schedule-info__card.s-schedule-info__card--art
      span.s-schedule-info__time 13:00-14:00
      span.s-schedule-info__desc Творчество 3-6 л. Рисование, лепка, апликация

    .s-schedule-info__card.s-schedule-info__card--rest Перерыв 14:00-15:00
    .s-schedule-info__card.s-schedule-info__card--sand-animation
      span.s-schedule-info__time 15:00-16:00
      span.s-schedule-info__desc Песочная анимация 5-6 л.
    .s-schedule-info__card.s-schedule-info__card--hidden
    .s-schedule-info__card.s-schedule-info__card--hidden
    .s-schedule-info__card.s-schedule-info__card--art
      span.s-schedule-info__time 15:00-16:00
      span.s-schedule-info__desc Творчество 5-6 л. Рисование, лепка, апликация
    .s-schedule-info__card.s-schedule-info__card--sand-animation
      span.s-schedule-info__time 15:00-16:00
      span.s-schedule-info__desc Мама и малыш “Песочная сказка” 1,5-3 г.
    .s-schedule-info__card.s-schedule-info__card--hidden
    .s-schedule-info__card.s-schedule-info__card--hidden

    .s-schedule-info__double-card
      .s-schedule-info__card.s-schedule-info__card--games
        span.s-schedule-info__time 17:00-18:00
        span.s-schedule-info__desc Спортивные игры 3-4 г.
      .s-schedule-info__card.s-schedule-info__card--sand-animation
        span.s-schedule-info__time 17:00-18:00
        span.s-schedule-info__desc Песочная анимация 5-6 л.
    .s-schedule-info__double-card
      .s-schedule-info__card.s-schedule-info__card--chess
        span.s-schedule-info__time 17:00-18:00
        span.s-schedule-info__desc Шахматы 4-6 л.
      .s-schedule-info__card.s-schedule-info__card--art
        span.s-schedule-info__time 17:00-18:00
        span.s-schedule-info__desc Творчество 3-6 л.
    .s-schedule-info__card.s-schedule-info__card--games
      span.s-schedule-info__time 16:00-17:00
      span.s-schedule-info__desc Спортивные игры 3-4 г.
    .s-schedule-info__double-card
      .s-schedule-info__card.s-schedule-info__card--games
        span.s-schedule-info__time 17:00-18:00
        span.s-schedule-info__desc Спортивные игры 3-4 г.
      .s-schedule-info__card.s-schedule-info__card--marbling
        span.s-schedule-info__time 17:00-18:00
        span.s-schedule-info__desc Эбру 4-6 л. Рисование на воде
    .s-schedule-info__double-card
      .s-schedule-info__card.s-schedule-info__card--games
        span.s-schedule-info__time 17:00-18:00
        span.s-schedule-info__desc Спортивные игры 3-4 г.
      .s-schedule-info__card.s-schedule-info__card--chess
        span.s-schedule-info__time 17:00-18:00
        span.s-schedule-info__desc Шахматы 4-9 л.
    .s-schedule-info__double-card
      .s-schedule-info__card.s-schedule-info__card--games
        span.s-schedule-info__time 17:00-18:00
        span.s-schedule-info__desc Спортивные игры 3-4 г.
      .s-schedule-info__card.s-schedule-info__card--marbling
        span.s-schedule-info__time 17:00-18:00
        span.s-schedule-info__desc Эбру 6-10 л. Рисование на воде
    .s-schedule-info__card.s-schedule-info__card--games
      span.s-schedule-info__time 16:00-17:00
      span.s-schedule-info__desc Спортивные игры 3-4 г.

    .s-schedule-info__card.s-schedule-info__card--board-games-week Настольные игры 17:00-20:00
    .s-schedule-info__card.s-schedule-info__card--board-games-week-end Настольные игры 10:00-20:00

    .s-schedule-info__card.s-schedule-info__card--games
      span.s-schedule-info__time 17:00-18:00
      span.s-schedule-info__desc Спортивные игры 5-6 л.
    .s-schedule-info__double-card
      .s-schedule-info__card.s-schedule-info__card--chess
        span.s-schedule-info__time 17:00-18:00
        span.s-schedule-info__desc Спортивные игры 5-6 л.
      .s-schedule-info__card.s-schedule-info__card--marbling
        span.s-schedule-info__time 17:00-18:00
        span.s-schedule-info__desc Эбру 4-9 л. Рисование на воде
    .s-schedule-info__card.s-schedule-info__card--games
      span.s-schedule-info__time 17:00-18:00
      span.s-schedule-info__desc Спортивные игры 5-6 л.
    .s-schedule-info__double-card
      .s-schedule-info__card.s-schedule-info__card--chess
        span.s-schedule-info__time 17:00-18:00
        span.s-schedule-info__desc Спортивные игры 5-6 л.
      .s-schedule-info__card.s-schedule-info__card--marbling
        span.s-schedule-info__time 17:00-18:00
        span.s-schedule-info__desc Эбру 7-9 л. Рисование на воде
    .s-schedule-info__card.s-schedule-info__card--games
      span.s-schedule-info__time 17:00-18:00
      span.s-schedule-info__desc Спортивные игры 5-6 л.
    .s-schedule-info__double-card
      .s-schedule-info__card.s-schedule-info__card--chess
        span.s-schedule-info__time 17:00-18:00
        span.s-schedule-info__desc Спортивные игры 5-6 л.
      .s-schedule-info__card.s-schedule-info__card--marbling
        span.s-schedule-info__time 17:00-18:00
        span.s-schedule-info__desc Эбру 10-15 л.
    .s-schedule-info__card.s-schedule-info__card--games
      span.s-schedule-info__time 17:00-18:00
      span.s-schedule-info__desc Спортивные игры 5-6 л.

    .s-schedule-info__card.s-schedule-info__card--hidden
    .s-schedule-info__card.s-schedule-info__card--hidden
    .s-schedule-info__card.s-schedule-info__card--hidden
    .s-schedule-info__card.s-schedule-info__card--marbling
      span.s-schedule-info__time 18:00-19:00
      span.s-schedule-info__desc Эбру 10-13 л. Рисование на воде
    .s-schedule-info__card.s-schedule-info__card--hidden
    .s-schedule-info__card.s-schedule-info__card--hidden
    .s-schedule-info__card.s-schedule-info__card--hidden