.s-schedule-info {

  &__table {
    border-radius: 10px;
    box-shadow: 0px 15px 31.4px 0.6px rgba(209, 210, 206, 0.33);
    background-color: #fff;
    text-align: center;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;

    @media (max-width: ($screen-sm - 1)) {
      display: none;
    }
  }

  &__day {
    font-family: $font-family--heading;
    font-weight: 700;
    color: #049bbe;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 13px 5px;

    @media only screen and (max-width: ($screen-md - 1)) {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__card {
    border-radius: 10px;
    color: #fff;
    text-align: center;
    padding: 10px;
    align-self: stretch;

    @media only screen and (max-width: ($screen-sm - 1)) {
      margin-bottom: 10px;
    }

    &--playroom {
      background: linear-gradient(to top, #b79bf6, #98c6fb);
      color: #fff;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      padding: 13px 20px;
      min-height: auto;
      grid-column-start: 1;
      grid-column-end: 8;
    }

    &--rest {
      background-color: #e7f6fc;
      color: #5089a3;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      padding: 13px 20px;
      min-height: auto;
      grid-column-start: 1;
      grid-column-end: 8;
    }

    &--board-games-week,
    &--board-games-week-end {
      background: linear-gradient(to top, #29d59f, #27848b);
      color: #feffff;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      padding: 13px 20px;
      min-height: auto;
    }

    &--board-games-week {
      grid-column-start: 1;
      grid-column-end: 6;
    }

    &--board-games-week-end {
      grid-column-start: 6;
      grid-column-end: 8;
    }


    &--short-term {
      background: linear-gradient(to top, #fb9b55, #fc6577);
    }

    &--games {
      background: linear-gradient(to top, #89b926, #b5d92c);
    }

    &--mother-and-child {
      background: linear-gradient(to top, #eda0ef, #b074d7);
    }

    &--art {
      background: linear-gradient(to top, #e75393, #e6818c);
    }

    &--sand-animation {
      background: linear-gradient(to top, #f98f3b, #fdc248);
    }

    &--marbling {
      background: linear-gradient(to top, #2288d3, #24bde6);
    }

    &--chess {
      background: linear-gradient(to top, #7d59a6, #aa79cf);
    }

    &--hidden {
      visibility: hidden;
      pointer-events: none;
    }
  }

  &__time {
    font-family: $font-family--heading;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    display: block;
  }

  &__desc {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    display: block;
  }

  &__double-card {

    .s-schedule-info__card {
      height: 50%;

      &:first-child {
        border-radius: 10px 10px 0 0;
      }

      &:last-child {
        border-radius: 0 0 10px 10px;
      }
    }
  }
}