.s-gallery {
  position: relative;
  @include section-padding;

  @media (min-width: $screen-xl) {
    background-image:
      url(../img/palms-5.svg),
      url(../img/birds-1.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left -30% top 100%, right 0% top 40%;
    background-size: 786px 1052px, 192px 190px;

    &::before,
    &::after {
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: 10;
    }

    &::before {
      background-image: url(../img/star.svg);
      width: 312px;
      height: 276px;
      top: -5%;
      right: 10%;
    }

    &::after {
      background-image: url(../img/turtle.svg);
      width: 312px;
      height: 235px;
      bottom: 0;
      left: 5%;
    }
  }

  &__inner {
    max-width: 1200px;
    margin: auto;
    z-index: 2;
    position: relative;

    .row {
      margin-left: -5px;
      margin-right: -5px;
    }

    [class^='col-']{
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  &__title {
    @include section-title;
  }

  &__desc {
    @include section-desc;
  }

  &__tab-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    border: 0;
    margin-bottom: 30px;

    @media (min-width: $screen-sm) {
      justify-content: center;
    }
  }

  &__tab-item {
    margin: 0;
    padding: 0;
    border-radius: 50px;
    color: #fff;

    @media (max-width: ($screen-sm - 1)) {
      width: calc(50% - 10px);
      margin-bottom: 10px;
    }

    &:not(:last-child) {

      @media (min-width: $screen-sm) {
        margin-right: 10px;
      }
    }

    &--all {
      background-color: #fa496e;
    }

    &--interior {
      background-color: #9c4afb;
    }

    &--courses {
      background-color: #5798fe;
    }

    &--holidays {
      background-color: #b3d82c;
    }
  }

  &__tab-link {
    font-size: 16px;
    line-height: 24px;
    display: block;
    padding: 13px 20px;
    min-width: 140px;
    color: currentColor;

    &:hover,
    &:focus {
      text-decoration: none;
      color: currentColor;
    }
  }

  &__cover {
    max-width: 100%;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;

    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: (3 / 4) * 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__show-more {
    text-align: center;
    padding-top: 20px;

    @media (min-width: $screen-sm) {
      padding-top: 30px;
    }
  }

  &__wave {
    position: absolute;

    &--top {
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
    }

    &--bottom {
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 1;
    }
  }

  &--bg-yellow {
    background-color: #eef6ce;

    @media (min-width: $screen-xl) {
      background-image:
        url(../img/palms-5--yellow.svg),
        url(../img/birds-1--yellow.svg);
    }
  }
}