.s-btn {
  position: relative;
  display: inline-block;
  background-color: #f39c2f;
  background-image:
    linear-gradient(
      to top,
      #f39c2f,
      #fedd39
    );
  color: #fff;
  margin: 0;
  padding: 12px 20px 14px 20px;
  border-radius: 30px;
  font-weight: 700;
  letter-spacing: 0.07em;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  min-width: 200px;
  box-shadow: 0px 5px 7.7px 0.3px rgba(20, 185, 219, 0.53);


  &:hover,
  &:focus {}

  &:active,
  &:focus {}

  &:visited {}

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }
}