include mixins.pug

doctype html
html(class='no-js s-page', lang='ru')

  head
    meta(charset='utf-8')
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(name='google' value='notranslate')
    meta(name='msapplication-TileColor', content='#5bbad5')
    meta(name='theme-color', content='#000')
    meta(name='msapplication-navbutton-color', content='#000')
    meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/swiper@5/css/swiper.min.css')
      link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/lightgallery@1/dist/css/lightgallery.min.css')
      link(rel='stylesheet', href='css/style.min.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript JavaScript is disabled

    include ../blocks/sprite-svg/img/sprite-svg.svg

    .s-page__inner
      .s-page__content
        block header
          p Header
        block content
          p Page Content

      .s-page__footer-wrapper
        block footer
          p Footer

    block page-bottom
      script(src='https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js')
      script(src='https://cdn.jsdelivr.net/npm/jquery-migrate@3/dist/jquery-migrate.min.js')
      script(src='https://cdn.jsdelivr.net/npm/bootstrap@4/dist/js/bootstrap.min.js')
      script(src='https://cdn.jsdelivr.net/npm/svg4everybody@2/dist/svg4everybody.min.js')
      script(src='https://cdn.jsdelivr.net/npm/lazysizes@5/lazysizes.min.js')
      script(src='https://cdn.jsdelivr.net/npm/swiper@5/js/swiper.min.js')
      script(src='https://cdn.jsdelivr.net/npm/lightgallery@1/dist/js/lightgallery.min.js')
      script(src='https://cdn.jsdelivr.net/npm/lightgallery@1/modules/lg-thumbnail.min.js')
      script(src='https://cdn.jsdelivr.net/npm/lightgallery@1/modules/lg-fullscreen.min.js')
      script(src='js/main.js')
