//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/btn/btn.pug
include ../blocks/logo/logo.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/date/date.pug
include ../blocks/external-link/external-link.pug
include ../blocks/form/form.pug
include ../blocks/field-text/field-text.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/field-select/field-select.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-toggler/field-toggler.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/pagination/pagination.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/scroll-link/scroll-link.pug
include ../blocks/promo/promo.pug
include ../blocks/testimonials/testimonials.pug
include ../blocks/social/social.pug
include ../blocks/advantages/advantages.pug
include ../blocks/services/services.pug
include ../blocks/gallery/gallery.pug
include ../blocks/news/news.pug
include ../blocks/service-card/service-card.pug
include ../blocks/our-instagram/our-instagram.pug
include ../blocks/testimonial-card/testimonial-card.pug
include ../blocks/news-card/news-card.pug
include ../blocks/services-and-price/services-and-price.pug
include ../blocks/schedule/schedule.pug
include ../blocks/schedule-table/schedule-table.pug
include ../blocks/sand-animation/sand-animation.pug
include ../blocks/service/service.pug
include ../blocks/event/event.pug
include ../blocks/event-gallery/event-gallery.pug
include ../blocks/schedule-mobile/schedule-mobile.pug
