.s-services-and-price {
  position: relative;
  padding: 100px 0 40px;

  @media (min-width: $screen-lg) {
    padding: 180px 0 120px;
  }

  @media (min-width: $screen-xl) {
    background-image: url(../img/palms-1.svg), url(../img/palms-2.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left -10% bottom 100%, right -30% top 0%;;
    background-size: 569px 837px, 929px 977px;
  }

  &__inner {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }

  &__title {
    @include section-title;
  }

  &__desc {
    @include section-desc;
  }

  &__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}