mixin field-radio(radiobuttons, title)

  //- Param:
    radiobuttons {array}
      {object}
        title: ''         {string}
        helpText: ''      {string}
        mods: ''          {string}
        attrs:            {object}
          name:           {string}
          ...

  //- Use:
    +field-radio([
      {
        title: 'Radio button 1',
        helpText: 'Text',
        mods: '',
        attrs: {
          name: 'radio',
          checked: true,
        }
      },
      {
        title: 'Radio button 2',
        helpText: 'Text',
        mods: '',
        attrs: {
          name: 'radio',
        }
      },
    ], 'Block name (if needed)')

  .s-field-radio&attributes(attributes)

    if (typeof(title) !== 'undefined' && title)
      .s-field-radio__title!= title

    each checkbox in radiobuttons
      -
        var allMods = '';
        if (typeof(checkbox.mods) !== 'undefined' && checkbox.mods) {
          var modsList = checkbox.mods.split(',');
          for (var i = 0; i < modsList.length; i++) {
            allMods = allMods + ' s-field-radio__input-wrap--' + modsList[i].trim();
          }
        }

      .s-field-radio__input-wrap(class=allMods)
        label.s-field-radio__name
          input.s-field-radio__input(type='radio')&attributes(checkbox.attrs)
          span.s-field-radio__name-text!= checkbox.title

        if (typeof(checkbox.helpText) !== 'undefined' && checkbox.helpText)
          .s-field-radio__help-text-wrap
            .s-field-radio__help-text!= checkbox.helpText
