.s-services {
  background-color: #eef6ce;
  position: relative;
  padding: 20px 0;

  @media (min-width: $screen-sm) {
    padding: 40px 0;
  }

  .swiper-slide {
    padding-top: 10px;
    padding-bottom: 30px;
  }

  &__show-more {
    text-align: center;
  }
}