mixin schedule-mobile()

  .s-schedule-mobile
    #accordionExample.accordion
      .s-schedule-info__day(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
        | Понедельник
      #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
        .s-schedule-info__card.s-schedule-info__card--playroom Игровая комната ежедневно 10:00-20:00
        .s-schedule-info__card.s-schedule-info__card--games
          span.s-schedule-info__time 12:00-13:00
          span.s-schedule-info__desc Подвижные игры 3-4 г.
        .s-schedule-info__card.s-schedule-info__card--games
          span.s-schedule-info__time 13:00-14:00
          span.s-schedule-info__desc Подвижные игры 5-6 л.
        .s-schedule-info__card.s-schedule-info__card--rest Перерыв 14:00-15:00
        .s-schedule-info__card.s-schedule-info__card--sand-animation
          span.s-schedule-info__time 15:00-16:00
          span.s-schedule-info__desc Песочная анимация 5-6 л.
        .s-schedule-info__double-card
          .s-schedule-info__card.s-schedule-info__card--games
            span.s-schedule-info__time 17:00-18:00
            span.s-schedule-info__desc Спортивные игры 3-4 г.
          .s-schedule-info__card.s-schedule-info__card--sand-animation
            span.s-schedule-info__time 17:00-18:00
            span.s-schedule-info__desc Песочная анимация 5-6 л.
        .s-schedule-info__card.s-schedule-info__card--board-games-week Настольные игры 17:00-20:00
        .s-schedule-info__card.s-schedule-info__card--games
          span.s-schedule-info__time 17:00-18:00
          span.s-schedule-info__desc Спортивные игры 5-6 л.

      .s-schedule-info__day.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
        | Вторник
      #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
        | 2
