.s-schedule-mobile {
  border-radius: 10px;
  box-shadow: 0px 15px 31.4px 0.6px rgba(209, 210, 206, 0.33);
  background-color: #fff;
  text-align: center;
  padding: 10px;

  @media only screen and (min-width: $screen-sm) {
    display: none;
  }
}
