.s-event {
  position: relative;
  padding: 100px 20px 40px;
  color: #5089a3;
  font-size: 1rem;
  line-height: 1.5rem;

  @media (min-width: $screen-lg) {
    padding: 180px 20px 120px;
  }

  @media (min-width: $screen-xl) {
    background-image: url(../img/palms-3.svg), url(../img/palms-2.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left -14% bottom 20%, right -30% bottom 0%;
    background-size: 569px 837px, 929px 977px;
  }

  &__inner {
    max-width: 1200px;
    margin: auto;
  }

  &__title {
    @include section-title;

    @media (min-width: $screen-md) {
      margin-top: 5rem;
    }
  }

  &__desc {
    @include section-desc;
  }

  &__info {
    margin-bottom: 2rem;
  }

  &__text {

    @media (min-width: $screen-sm) {
      padding-right: 4rem;
    }
  }

  &__cover {
    margin-bottom: 1rem;
    position: relative;

    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: (3 / 4) * 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}