mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .s-page-footer__inner
      .s-page-footer__contacts
        ul
          li
            a(href='tel:+79650224235')
              span.icon.icon--tel
                +svg-icon('tel', 14, 14)
              span +7 (965) 022-42-35
          li
            span.icon.icon--address
              +svg-icon('address', 13, 18)
            span Невский пр. 110 к.1
          li
            a(href='mailto:ostrov.spb@inbox.ru')
              span.icon.icon--e-mail
                +svg-icon('e-mail', 15, 14)
              span ostrov.spb@inbox.ru
          li
            ul
              li: a.icon.icon--viber(href='/')
                +svg-icon('viber', 17, 20)
              li: a.icon.icon--vk(href='/', rel='noopener', target='_blank')
                +svg-icon('vk', 17, 12)
              li: a.icon.icon--instagram(href='/', rel='noopener', target='_blank')
                +svg-icon('instagram', 17, 17)
      .s-page-footer__nav
        ul
          li: a(href='/') Главная
          li: a(href='/') О нас
          li: a(href='/') Услуги и цены
          li: a(href='/') Фотогалерея
          li: a(href='/') Полезное
          li: a(href='/') Контакты
          li: a(href='/') Кратковременное пребывание
          li: a(href='/') Песочная анимация
          li: a(href='/') Подвижные игры
          li: a(href='/') Творчество
          li: a(href='/') Акварель
          li: a(href='/') Шахматы
          li: a(href='/') Настольные игры
          li: a(href='/') Игровая комната
          li: a(href='/') День Рождения
          li: a(href='/') ОФП + Тхэквондо
          li: a(href='/') Эбру
