.s-page-footer {
  background-color: #049bbe;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  @include section-padding;

  &__inner {
    max-width: 1200px;
    margin: auto;

    @media (min-width: $screen-md) {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
    }
  }

  &__contacts {

    @media (min-width: $screen-md) {
      flex: 0 0 30%;
      max-width: 30%;
    }

    > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      > li {
        margin: 0 0 15px 0;
        padding: 0;

        > a {
          display: inline-block;
          color: currentColor;
        }

        > ul {
          list-style-type: none;
          margin: 0;
          padding: 0;

          > li {
            margin: 0;
            padding: 0;
            display: inline-block;
            vertical-align: top;

            > a {
              display: inline-block;
              color: currentColor;
            }
          }
        }
      }
    }

    .icon {
      display: inline-flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      width: 33px;
      height: 33px;
      border-radius: 30px;
      border: 3px solid #fff;
      box-shadow: 0px 5px 9px 0 rgba(13, 142, 169, 0.41);
      color: #fff;
      margin-right: 10px;

      svg {
        fill: currentColor;
        display: inline-block;
        vertical-align: middle;
      }

      &--tel {
        background-color: #2bbfde;
      }

      &--address {
        background-color: #f12e4a;
      }

      &--e-mail {
        background-color: #9cc737;
      }

      &--viber {
        background-color: #7d3daf;
      }

      &--vk {
        background-color: #4a76a8;
      }

      &--instagram {
        background:
          linear-gradient(
            45deg,
            #ffdd55 0%,
            #ff543e 50%,
            #c837ab 100%
          );
      }
    }
  }

  &__nav {
    border-top: 1px solid rgba(255,255,255,0.125);
    padding-top: 15px;

    @media (min-width: $screen-md) {
      border-top: 0;
      padding-top: 0;
      margin-left: auto;
      flex: 0 0 70%;
      max-width: 70%;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      @media (min-width: $screen-xs) {
        column-count: 2;
        column-gap: 0;
      }

      @media (min-width: $screen-md) {
        column-count: 3;
        column-gap: 0;
      }

      li {
        margin: 0;
        padding: 0;

        @media (min-width: $screen-xs) {
          padding-right: 15px;
        }

        @media (min-width: $screen-md) {
          padding-right: 20px;
        }

        a {
          display: inline-block;
          color: currentColor;
          padding: 2px 0 3px 0;
        }
      }
    }
  }
}