.s-service {
  position: relative;
  padding: 100px 20px 40px;
  color: #5089a3;
  font-size: 1rem;
  line-height: 1.5rem;

  @media (min-width: $screen-lg) {
    padding: 180px 20px 120px;
  }

  @media (min-width: $screen-xl) {
    background-image: url(../img/palms-3.svg), url(../img/palms-2.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left -14% bottom 20%, right -30% bottom 0%;
    background-size: 569px 837px, 929px 977px;
  }

  &__inner {
    max-width: 1200px;
    margin: auto;
  }

  &__title {
    @include section-title;

    @media (min-width: $screen-md) {
      margin-top: 5rem;
    }
  }

  &__desc {
    @include section-desc;
  }

  &__block {
    margin-bottom: 2rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 4rem;
    }
  }

  &__cover {
    margin-bottom: 20px;

    img {
      width: auto;
      max-height: 300px;
    }
  }

  &__subtitle {
    font-family: $font-family--heading;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 1rem;
    color: currentColor;
    color: #049bbe;
  }



  // Teacher section

  &__teacher {
    margin-bottom: 2rem;
  }

  &__teacher-photo {
    height: 390px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 2rem;

    @media (min-width: $screen-sm) {
      max-width: 480px;
      height: 480px;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__teacher-name {
    font-family: $font-family--heading;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    color: #049bbe;
  }

  &__teacher-info {
    margin: 0;
    margin-bottom: 1rem;
  }


  // Schedule section

  &__schedule {
    margin-bottom: 2rem;
  }

  &__schedule-day {
    font-family: $font-family--heading;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #049bbe;
  }

  &__schedule-list {
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
  }

  &__schedule-item {
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
  }

  &__schedule-time-range {
    display: inline-block;
    margin-right: 0.25rem;
    font-family: $font-family--heading;
    font-weight: 700;
    font-size: 12px;
    color: #049bbe;
  }

  &__schedule-lesson {
    display: inline-block;
  }


  // Price section

  &__price-category {
    font-family: $font-family--heading;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
    color: #049bbe;
  }

  &__price-list {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;

    @media (min-width: $screen-xs) {
      padding-right: 2rem;
    }
  }

  &__price-item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__price-type {
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-right: 1rem;
  }

  &__price {
    display: block;
    font-family: $font-family--heading;
    font-weight: 700;
    font-size: 12px;
    color: #049bbe;
  }

  // Bottom wave

  &__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}