.s-service-card {
  border-radius: 10px;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;

  &:hover,
  &:focus {
    box-shadow: 0px 8px 21.4px 2.6px rgba(159, 166, 132, 0.59);

    .s-service-card__additional-info {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &__primary-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__figure {
    padding: 20px;
  }

  &__cover {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 50% 50%;
      vertical-align: middle;
    }
  }

  &__caption {

  }

  &__subtitle,
  &__desc-term {
    font-size: 14px;
    line-height: 20px;
    color: #eef9fd;
    font-family: $font-family--heading;
    font-weight: 700;
    margin: 0;
    text-align: center;
    width: 100%;

    @media (min-width: $screen-xxl) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__additional-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    transition: all 0.125s cubic-bezier(0.5,0,0,1);

    .s-btn {
      min-width: 140px;
      margin: auto 0 20px 0;
    }
  }

  &__desc {
    margin: 0;
    text-align: center;
    padding: 20px;
  }

  &__desc-term {
    margin-bottom: 10px;
    display: block;
    text-align: center;
  }

  &__desc-desc {
    font-size: 16px;
    display: block;
    text-align: center;
    line-height: 24px;
    color: #fff;
  }

  &--sand-animation {

    &,
    .s-service-card__additional-info {
      background-image: linear-gradient(to top, #f98f3b, #fdc248);
    }
  }

  &--game {

    &,
    .s-service-card__additional-info {
      background-image: linear-gradient(to top, #fb9b55, #fc6577);
    }
  }

  &--art {

    &,
    .s-service-card__additional-info {
      background-image: linear-gradient(to top, #89b926, #b5d92c);
    }
  }

  &--playroom {

    &,
    .s-service-card__additional-info {
      background-image: linear-gradient(to top, #eda0ef, #b074d7);
    }
  }

  &--paper-marbling {

    &,
    .s-service-card__additional-info {
      background-image: linear-gradient(to top, #2288d3, #24bde6);
    }
  }
}