mixin service-card(image, title, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-service-card--' + modsList[i].trim();
      }
    }

  .s-service-card(class=allMods)&attributes(attributes)
    .s-service-card__primary-info
      figure.s-service-card__figure
        .s-service-card__cover
          img(src=image, alt='')
        figcaption.s-service-card__caption: h3.s-service-card__subtitle #{title}
    .s-service-card__additional-info
      dl.s-service-card__desc
        dt.s-service-card__desc-term #{title}
        dd.s-service-card__desc-desc Lorem ipsum dolor sit amet, consectetur adip elit, sed do eiusmod tempor incididunt ut dolore magna aliqua.
      +btn('Подробнее')
