.s-advantages {
  position: relative;
  @include section-padding;

  @media (min-width: $screen-xl) {
    background-image: url(../img/palms-1.svg), url(../img/palms-2.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left -20% top 100%, right -30% top 100%;
    background-size: 569px 837px, 929px 977px;
  }

  &__inner {
    max-width: 1200px;
    margin: auto;
  }

  &__title {
    @include section-title();
  }

  &__desc {
    @include section-desc();
  }

  &__list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-end;
    }

    @media (min-width: $screen-md) {
      padding: 0 75px;

      &::after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url(../img/advantage.svg);
        width: 539px;
        height: 369px;

      }
    }
  }

  &__item {
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 60px;

    @media (min-width: $screen-sm) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media (min-width: $screen-md) {

      &:nth-child(odd) {
        text-align: left;
        padding-right: 40px;

        .s-advantages__caption {
          margin: 0 auto 0 0;
        }
      }

      &:nth-child(even) {
        text-align: right;
        padding-left: 40px;

        .s-advantages__caption {
          margin: 0 0 0 auto;
        }
      }
    }
  }

  &__cover {
    vertical-align: middle;
    margin-bottom: 20px;
    max-width: 80%;
  }

  &__caption {
    max-width: 320px;
    margin: auto;
  }

  &__subtitle {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
    font-weight: 700;
    color: #049bbe;
  }

  &__briefly {
    font-size: 18px;
    line-height: 22px;
    color: #5089a3;
    font-weight: 400;
    display: inline-block;
  }

  &__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
 }