.s-schedule {
  background-color: #eef6ce;
  position: relative;
  @include section-padding;

  @media (min-width: $screen-xl) {
    background-image: url(../img/birds-2.svg), url(../img/palms-4.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left 0% top 20%, right 0% top 100%;
    background-size: 275px 204px, contain;

    &::before,
    &::after {
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: 10;
    }

    &::before {
      background-image: url(../img/turtle.svg);
      width: 312px;
      height: 235px;
      top: 0;
      left: 5%;
    }

    &::after {
      background-image: url(../img/sand-castle.png);
      width: 350px;
      height: 366px;
      bottom: -150px;
      right: 20px;
    }
  }

  &__inner {
    max-width: 1200px;
    margin: auto;
  }

  &__title {
    @include section-title;
  }

  &__desc {
    @include section-desc;
  }

  .s-schedule-table {

    @media (max-width: ($screen-md - 1)) {
      display: none;
    }
  }

  &__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}