extends pug/layout.pug

block meta
  - var title = 'Gallery';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  section.s-event
    .s-event__inner
      +breadcrumb()
        +breadcrumb-item('Главная', '/index.html')
        +breadcrumb-item('Фотогалерея', '/')
        +breadcrumb-item('Новогоднее чудо')
      h2.s-service__title Новогоднее чудо
      p.s-service__desc Для детей от 3 до 8 лет
      .s-event__info
        .row
          .col-12.order-2.col-sm-8.order-sm-1
            h3.s-event__subtitle Подзаголовок события
            p.s-event__text 20 декабря в 15.00 в нашем центре пройдёт кукольный спектакль «Новогоднее чудо» для детей от 3 до 8 лет. Специально под  Новый  Год появился на свет один маленький, но трогательный кукольный спектакль про обычного мальчика Андрюшу. Так сложилось, что он живёт со своей единственной бабушкой. Но он совершенно не страдает от этого, потому что она окружила его своей заботой и теплом. Мальчик Андрюша, как и все дети,очень любит играть и мечтать, но иногда его мечты так не реальны. Но в Новый Год всегда случаются чудеса, даже если ты захотел настоящую звёздочку на своей новогодней ёлочке.Программа включает спектакль, игры и сладкий подарок. Стоимость 1500 руб. детский билет, 300 руб. взрослый.
          .col-12.order-1.col-sm-4.order-sm-2
            .s-event__cover
              img(src='img/event-1.png', alt='/')
    .s-event__wave
      svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1920 181')
        path(fill='#eef6ce', d='M429 164.5C216.5 164.5 0 .5 0 .5v180h1919.5v-96s-43 49-170.5 49S1341.5 43 1133.5 43 641.5 164.5 429 164.5z')


  .s-event-gallery
    .s-event-gallery__inner
      .row
        .col-6.col-sm-4
          a.s-event-gallery__item(href='img/event-2.png')
            img(src='img/event-2.png', alt='Description')
        .col-6.col-sm-4
          a.s-event-gallery__item(href='img/event-3.png')
            img(src='img/event-3.png', alt='Description')
        .col-6.col-sm-4
          a.s-event-gallery__item(href='img/event-4.png')
            img(src='img/event-4.png', alt='Description')
        .col-6.col-sm-4
          a.s-event-gallery__item(href='img/event-5.png')
            img(src='img/event-5.png', alt='Description')
        .col-6.col-sm-4
          a.s-event-gallery__item(href='img/event-6.png')
            img(src='img/event-6.png', alt='Description')
        .col-6.col-sm-4
          a.s-event-gallery__item(href='img/event-7.png')
            img(src='img/event-7.png', alt='Description')
        .col-6.col-sm-4
          a.s-event-gallery__item(href='img/event-8.png')
            img(src='img/event-8.png', alt='Description')
        .col-6.col-sm-4
          a.s-event-gallery__item(href='img/event-9.png')
            img(src='img/event-9.png', alt='Description')
        .col-6.col-sm-4
          a.s-event-gallery__item(href='img/event-10.png')
            img(src='img/event-10.png', alt='Description')
    .s-event-gallery__wave
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 1921 219')
        path(fill='#ecf8fb', d='M869.358 202C190.5 202 .5 24 .5 24v194.5h1920V15S1891 0 1799.31 0C1532 0 1548.22 202 869.358 202z')


  section.s-testimonials
    .s-testimonials__inner
      h2.s-testimonials__title Что вы думаете о нас
      p.s-testimonials__desc Отзывы
      .s-testimonials__slider.swiper-container
        .swiper-wrapper
          .swiper-slide
            +testimonial-card()
          .swiper-slide
            +testimonial-card()
          .swiper-slide
            +testimonial-card()
        .s-testimonials__slider-nav
          .s-testimonials__slider-prev
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100', width='40', height='40')
              path(fill='#ffffff', fill-rule='evenodd', d='M37.5251263 67.5251263c-1.3668351 1.366835-1.3668351 3.5829124 0 4.9497474 1.366835 1.3668351 3.5829124 1.3668351 4.9497474 0l20-20c1.3668351-1.366835 1.3668351-3.5829124 0-4.9497474l-20-20c-1.366835-1.3668351-3.5829124-1.3668351-4.9497474 0-1.3668351 1.366835-1.3668351 3.5829124 0 4.9497474l17.5346985 17.5346985-17.5346985 17.5155541z')
          .s-testimonials__slider-next
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100', width='40', height='40')
              path(fill='#ffffff', fill-rule='evenodd', d='M37.5251263 67.5251263c-1.3668351 1.366835-1.3668351 3.5829124 0 4.9497474 1.366835 1.3668351 3.5829124 1.3668351 4.9497474 0l20-20c1.3668351-1.366835 1.3668351-3.5829124 0-4.9497474l-20-20c-1.366835-1.3668351-3.5829124-1.3668351-4.9497474 0-1.3668351 1.366835-1.3668351 3.5829124 0 4.9497474l17.5346985 17.5346985-17.5346985 17.5155541z')
block footer
  +page-footer()