extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  section.s-promo
    .s-promo__inner
      .s-promo__info
        h1.s-promo__title Заголовок в две строчки
        p.s-promo__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
        +btn('Подробнее')

  section.s-advantages
    .s-advantages__inner
      h2.s-advantages__title Таинственный остров
      p.s-advantages__desc Детского досуга и творчества
      ul.s-advantages__list
        li.s-advantages__item
          figure.s-advantages__figure
            img.s-advantages__cover(src='img/play.svg', alt='Играй', width='336', height='273')
            figcaption.s-advantages__caption
              h3.s-advantages__subtitle Играй
              span.s-advantages__briefly Настольные игры и групповые занятия
        li.s-advantages__item
          figure.s-advantages__figure
            img.s-advantages__cover(src='img/be-friends.svg', alt='Дружи', width='420', height='206')
            figcaption.s-advantages__caption
              h3.s-advantages__subtitle Дружи
              span.s-advantages__briefly Новые друзья и групповые занятия, правильное общение для ребенка
        li.s-advantages__item
          figure.s-advantages__figure
            img.s-advantages__cover(src='img/have-fun.svg', alt='Веселись', width='204', height='259')
            figcaption.s-advantages__caption
              h3.s-advantages__subtitle Веселись
              span.s-advantages__briefly Отличное времяпрепровождение как для ребенка, так и для вас
        li.s-advantages__item
          figure.s-advantages__figure
            img.s-advantages__cover(src='img/create.svg', alt='Созидай', width='201', height='257')
            figcaption.s-advantages__caption
              h3.s-advantages__subtitle Созидай
              span.s-advantages__briefly Творчествие занятия, дайте возможность проявить талант вашему ребенку
    .s-advantages__wave
      svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1920 181')
        path(fill='#eef6ce', d='M429 164.5C216.5 164.5 0 .5 0 .5v180h1919.5v-96s-43 49-170.5 49S1341.5 43 1133.5 43 641.5 164.5 429 164.5z')

  .s-services
    .s-services__slider.swiper-container
      .swiper-wrapper
        .swiper-slide
          +service-card('img/sand-animation.svg', 'Песочная анимация', 'sand-animation')
        .swiper-slide
          +service-card('img/game.svg', 'Кратковременное пребывание', 'game')
        .swiper-slide
          +service-card('img/art.svg', 'Занятия по творчеству', 'art')
        .swiper-slide
          +service-card('img/marbling.svg', 'Игровая комната', 'playroom')
        .swiper-slide
          +service-card('img/marbling.svg', 'Эбру', 'paper-marbling')
        .swiper-slide
          +service-card('img/sand-animation.svg', 'Песочная анимация', 'sand-animation')
        .swiper-slide
          +service-card('img/game.svg', 'Кратковременное пребывание', 'game')
        .swiper-slide
          +service-card('img/art.svg', 'Занятия по творчеству', 'art')
        .swiper-slide
          +service-card('img/marbling.svg', 'Игровая комната', 'playroom')
        .swiper-slide
          +service-card('img/marbling.svg', 'Эбру', 'paper-marbling')
    .s-services__show-more
      +btn('Посмотреть все')

  section.s-gallery
    .s-gallery__inner
      h2.s-gallery__title Жизнь изнутри
      p.s-gallery__desc Фотогалерея
      .s-gallery__tabs
        ul#myTab.s-gallery__tab-list.nav.nav-tabs(role='tablist')
          li.s-gallery__tab-item.s-gallery__tab-item--all
            a.s-gallery__tab-link#all-tab(data-toggle='tab', href='#all', role='tab', aria-controls='all', aria-selected='true') Все фото
          li.s-gallery__tab-item.s-gallery__tab-item--interior
            a.s-gallery__tab-link#interior-tab(data-toggle='tab', href='#interior', role='tab', aria-controls='interior', aria-selected='false') Интерьер
          li.s-gallery__tab-item.s-gallery__tab-item--courses
            a.s-gallery__tab-link#courses-tab(data-toggle='tab', href='#courses', role='tab', aria-controls='courses', aria-selected='false') Занятия
          li.s-gallery__tab-item.s-gallery__tab-item--holidays
            a.s-gallery__tab-link#holidays-tab(data-toggle='tab', href='#holidays', role='tab', aria-controls='holidays', aria-selected='false') Праздники
        #myTabContent.tab-content
          #all.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='all-tab')
            .row
              .col-6
                .row
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1570581279600-337cebcee928?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1567822781105-a80d1b601697?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-12
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1542037012038-5f9fb2b3c681?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
              .col-6
                .row
                  .col-12
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1518157673009-7ac315280748?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1512290793455-dd2f915493bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1479826541954-488dc511fbe2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
          #interior.tab-pane.fade(role='tabpanel', aria-labelledby='interior-tab')
            .row
              .col-6
                .row
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1570581279600-337cebcee928?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1567822781105-a80d1b601697?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-12
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1542037012038-5f9fb2b3c681?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
              .col-6
                .row
                  .col-12
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1518157673009-7ac315280748?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1512290793455-dd2f915493bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1479826541954-488dc511fbe2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
          #courses.tab-pane.fade(role='tabpanel', aria-labelledby='courses-tab')
            .row
              .col-6
                .row
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1570581279600-337cebcee928?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1567822781105-a80d1b601697?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-12
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1542037012038-5f9fb2b3c681?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
              .col-6
                .row
                  .col-12
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1518157673009-7ac315280748?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1512290793455-dd2f915493bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1479826541954-488dc511fbe2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
          #holidays.tab-pane.fade(role='tabpanel', aria-labelledby='holidays-tab')
            .row
              .col-6
                .row
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1570581279600-337cebcee928?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1567822781105-a80d1b601697?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-12
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1542037012038-5f9fb2b3c681?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
              .col-6
                .row
                  .col-12
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1518157673009-7ac315280748?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1512290793455-dd2f915493bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1479826541954-488dc511fbe2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
        .s-gallery__show-more
          +btn('Посмотреть все')
    .s-gallery__wave.s-gallery__wave--top
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 1921 145')
        path(fill='#eef6ce', d='M243 106.5c-66 0-153.0001-81.5-242.500122-81V0H1920.5v19.5s-136.5 125-250 125-252-116-407.5-116-250.5 98-361.5 98S716.5 25 546.5 25 309 106.5 243 106.5z')
    .s-gallery__wave.s-gallery__wave--bottom
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 1921 219')
        path(fill='#eef6ce', d='M869.358 202C190.5 202 .5 24 .5 24v194.5h1920V15S1891 0 1799.31 0C1532 0 1548.22 202 869.358 202z')

  section.s-news
    .s-news__inner
      h2.s-news__title Прошлое и будущее
      p.s-news__desc Новости и анонсы
      ul.s-news__list
        li.s-news__item
          +news-card('https://images.unsplash.com/photo-1515041219749-89347f83291a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Рождественские квесты на Таинственном острове', '7, 14, 21 и 28 декабря в 12.00 пройдут Рождественские квесты. Приглашаются дети от 2 до 7 лет.')
        li.s-news__item
          +news-card('https://images.unsplash.com/flagged/photo-1563248101-a975e9a18cc6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Кукольный спектакль “Новогоднее чудо”', '20 декабря в 15.00 в нашем центре пройдёт кукольный спектакль «Новогоднее чудо» для детей от 3 до 8 лет.')
        li.s-news__item
          +news-card('https://images.unsplash.com/photo-1517456944721-229d38679dfa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', '“Как Щенячий патруль Новый год встречали”', 'Приглашаем детей от 1 до 6 лет на интерактивный кукольный спектакль «Как Щенячий патруль Новый год встречали».')
        li.s-news__item
          +news-card('https://images.unsplash.com/photo-1524481905007-ea072534b820?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Наши новые акции и скидки', '- 30% скидка на первое посещение; - 10% скидка на абонементы Имениннику в день его рождения и ещё в течение.')
    .s-news__wave
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 1924 169')
        path(fill='#ecf8fb', d='M415 0C167 .00024414.5 24.0002.5 24.0002V168.5H1924V101s-132.5 46.5-400.5 46.5S663-.00024414 415 0z')

  section.s-testimonials
    .s-testimonials__inner
      h2.s-testimonials__title Что вы думаете о нас
      p.s-testimonials__desc Отзывы
      .s-testimonials__slider.swiper-container
        .swiper-wrapper
          .swiper-slide
            +testimonial-card()
          .swiper-slide
            +testimonial-card()
          .swiper-slide
            +testimonial-card()
        .s-testimonials__slider-nav
          .s-testimonials__slider-prev
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100', width='40', height='40')
              path(fill='#ffffff', fill-rule='evenodd', d='M37.5251263 67.5251263c-1.3668351 1.366835-1.3668351 3.5829124 0 4.9497474 1.366835 1.3668351 3.5829124 1.3668351 4.9497474 0l20-20c1.3668351-1.366835 1.3668351-3.5829124 0-4.9497474l-20-20c-1.366835-1.3668351-3.5829124-1.3668351-4.9497474 0-1.3668351 1.366835-1.3668351 3.5829124 0 4.9497474l17.5346985 17.5346985-17.5346985 17.5155541z')
          .s-testimonials__slider-next
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100', width='40', height='40')
              path(fill='#ffffff', fill-rule='evenodd', d='M37.5251263 67.5251263c-1.3668351 1.366835-1.3668351 3.5829124 0 4.9497474 1.366835 1.3668351 3.5829124 1.3668351 4.9497474 0l20-20c1.3668351-1.366835 1.3668351-3.5829124 0-4.9497474l-20-20c-1.366835-1.3668351-3.5829124-1.3668351-4.9497474 0-1.3668351 1.366835-1.3668351 3.5829124 0 4.9497474l17.5346985 17.5346985-17.5346985 17.5155541z')
    .s-testimonials__wave
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 1920 173')
        path(fill='#eef6ce', d='M1020.5 156C617.5 156 0 53 0 53v120h1919.5V0s-496 156-899 156z')


  section.s-our-instagram
    h2.s-our-instagram__title Мы онлайн
    p.s-our-instagram__desc Наша лента в Instagram
    .s-our-instagram__gallery
      .s-our-instagram__gallery-item
        img(src='https://images.unsplash.com/photo-1472162072942-cd5147eb3902?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
      .s-our-instagram__gallery-item
        img(src='https://images.unsplash.com/photo-1524503033411-c9566986fc8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
      .s-our-instagram__gallery-item
        img(src='https://images.unsplash.com/photo-1531325082793-ca7c9db6a4c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
      .s-our-instagram__gallery-item
        img(src='https://images.unsplash.com/photo-1537655780520-1e392ead81f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
      .s-our-instagram__gallery-item
        img(src='https://images.unsplash.com/photo-1455884981818-54cb785db6fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
      .s-our-instagram__gallery-item
        img(src='https://images.unsplash.com/photo-1530462943125-677cc511c87e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
    .s-our-instagram__follow
      +btn('Присоединиться')

block footer
  +page-footer()