extends pug/layout.pug

block meta
  - var title = 'Service';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  section.s-service
    .s-service__inner
      +breadcrumb()
        +breadcrumb-item('Главная', '/index.html')
        +breadcrumb-item('Услуги и цены', '/services.html')
        +breadcrumb-item('Песочная анимация')
      h2.s-service__title Песочная анимациы
      p.s-service__desc Детишкам от 5 до 9 лет
      .s-service__block
        .row
          .col-12.col-md-6.order-md-2.offset-md-1
            .s-service__cover
              img(src='img/sand-animation.svg', alt='/')
          .col-12.col-md-5.order-md-1
            h3.s-service__subtitle Описание
            p.s-service__text Рисование песком — это погружение в сказку, мир фантазий. Песок замечательный сенсорный матерьял, стимулирующий развитие мелкой моторики и познавательных процессов (внимания, образного мышления, творческого воображения). А также поддержка позитивного настроения и преодоление негативных эмоциональных состояний. В нашем центре предлагаются занятия по песочной анимации для малышей с мамами и для детей от 4 до 9 лет.
      .s-service__block
        .row
          .col-12.col-md-5
            .s-service__teacher-photo
              img(src='https://images.unsplash.com/photo-1568967729548-e3dbad3d37e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
          .col-12.col-md-6.offset-md-1
            .s-service__teacher
              h3.s-service__subtitle Предодаватель
              h4.s-service__teacher-name Диана Николаенко
              p.s-service__teacher-info Рисование песком -это погружение в сказку, мир фантазий. Песок замечательный сенсорный матерьял, стимулирующий развитие мелкой моторики и познавательных процессов.
            .s-service__schedule
              h3.s-service__subtitle Расписание
              h4.s-service__schedule-day Понедельник
              ul.s-service__schedule-list
                li.s-service__schedule-item
                  span.s-service__schedule-time-range 15.00-16.00
                  span.s-service__schedule-lesson Песочные анимации, 5-6 лет.
                li.s-service__schedule-item
                  span.s-service__schedule-time-range 16.00-17.00
                  span.s-service__schedule-lesson Песочные анимации, 5-6 лет.
              h4.s-service__schedule-day Пятница
              ul.s-service__schedule-list
                li.s-service__schedule-item
                  span.s-service__schedule-time-range 16.00-17.00
                  span.s-service__schedule-lesson Мама и малыш “Песочная сказка” 1,5-3 г.
      .s-service__block
        h3.s-service__subtitle Цены
        .row
          .col-12.col-sm-6.col-md-4
            h4.s-service__price-category Мама и малыш “Песочная сказка”
            ul.s-service__price-list
              li.s-service__price-item
                span.s-service__price-type Разовое посещение
                span.s-service__price 750
              li.s-service__price-item
                span.s-service__price-type Абонемент на 4 занятия в месяц
                span.s-service__price 2800
          .col-12.col-sm-6.col-md-4
            h4.s-service__price-category Песочная анимация 7-9 л
            ul.s-service__price-list
              li.s-service__price-item
                span.s-service__price-type Разовое посещение
                span.s-service__price 800
              li.s-service__price-item
                span.s-service__price-type Абонемент на 4 занятия в месяц
                span.s-service__price 3000
          .col-12.col-sm-6.col-md-4
            h4.s-service__price-category Песочная анимация 1 час
            ul.s-service__price-list
              li.s-service__price-item
                span.s-service__price-type Разовое посещение
                span.s-service__price 1300
              li.s-service__price-item
                span.s-service__price-type Абонемент на 4 занятия в месяц
                span.s-service__price 5200
          .col-12.col-sm-6.col-md-4
            h4.s-service__price-category Песочная анимация 3-6 л.
            ul.s-service__price-list
              li.s-service__price-item
                span.s-service__price-type Разовое посещение
                span.s-service__price 750
              li.s-service__price-item
                span.s-service__price-type Абонемент на 4 занятия в месяц
                span.s-service__price 2800
              li.s-service__price-item
                span.s-service__price-type Абонемент на 8 занятия в месяц
                span.s-service__price 5200
          .col-12.col-sm-6.col-md-4
            h4.s-service__price-category Песочная анимация + игровая комната
            ul.s-service__price-list
              li.s-service__price-item
                span.s-service__price-type Разовое посещение
                span.s-service__price 1150
              li.s-service__price-item
                span.s-service__price-type Абонемент на 4 занятия в месяц
                span.s-service__price 4200
              li.s-service__price-item
                span.s-service__price-type Абонемент на 8 занятия в месяц
                span.s-service__price 8000
    .s-service__wave
      svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1920 181')
        path(fill='#eef6ce', d='M429 164.5C216.5 164.5 0 .5 0 .5v180h1919.5v-96s-43 49-170.5 49S1341.5 43 1133.5 43 641.5 164.5 429 164.5z')

  section.s-gallery.s-gallery--bg-yellow
    .s-gallery__inner
      h2.s-gallery__title Жизнь изнутри
      p.s-gallery__desc Фотогалерея
      .s-gallery__tabs
        ul#myTab.s-gallery__tab-list.nav.nav-tabs(role='tablist')
          li.s-gallery__tab-item.s-gallery__tab-item--all
            a.s-gallery__tab-link#all-tab(data-toggle='tab', href='#all', role='tab', aria-controls='all', aria-selected='true') Все фото
          li.s-gallery__tab-item.s-gallery__tab-item--interior
            a.s-gallery__tab-link#interior-tab(data-toggle='tab', href='#interior', role='tab', aria-controls='interior', aria-selected='false') Интерьер
          li.s-gallery__tab-item.s-gallery__tab-item--courses
            a.s-gallery__tab-link#courses-tab(data-toggle='tab', href='#courses', role='tab', aria-controls='courses', aria-selected='false') Занятия
          li.s-gallery__tab-item.s-gallery__tab-item--holidays
            a.s-gallery__tab-link#holidays-tab(data-toggle='tab', href='#holidays', role='tab', aria-controls='holidays', aria-selected='false') Праздники
        #myTabContent.tab-content
          #all.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='all-tab')
            .row
              .col-6
                .row
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1570581279600-337cebcee928?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1567822781105-a80d1b601697?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-12
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1542037012038-5f9fb2b3c681?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
              .col-6
                .row
                  .col-12
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1518157673009-7ac315280748?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1512290793455-dd2f915493bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1479826541954-488dc511fbe2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
          #interior.tab-pane.fade(role='tabpanel', aria-labelledby='interior-tab')
            .row
              .col-6
                .row
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1570581279600-337cebcee928?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1567822781105-a80d1b601697?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-12
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1542037012038-5f9fb2b3c681?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
              .col-6
                .row
                  .col-12
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1518157673009-7ac315280748?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1512290793455-dd2f915493bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1479826541954-488dc511fbe2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
          #courses.tab-pane.fade(role='tabpanel', aria-labelledby='courses-tab')
            .row
              .col-6
                .row
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1570581279600-337cebcee928?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1567822781105-a80d1b601697?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-12
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1542037012038-5f9fb2b3c681?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
              .col-6
                .row
                  .col-12
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1518157673009-7ac315280748?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1512290793455-dd2f915493bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1479826541954-488dc511fbe2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
          #holidays.tab-pane.fade(role='tabpanel', aria-labelledby='holidays-tab')
            .row
              .col-6
                .row
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1570581279600-337cebcee928?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1567822781105-a80d1b601697?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-12
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1542037012038-5f9fb2b3c681?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
              .col-6
                .row
                  .col-12
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1518157673009-7ac315280748?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1512290793455-dd2f915493bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
                  .col-6
                    .s-gallery__cover
                      img(src='https://images.unsplash.com/photo-1479826541954-488dc511fbe2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/')
        .s-gallery__show-more
          +btn('Посмотреть все')
    .s-gallery__wave.s-gallery__wave--bottom
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 1921 219')
        path(fill='#ecf8fb', d='M869.358 202C190.5 202 .5 24 .5 24v194.5h1920V15S1891 0 1799.31 0C1532 0 1548.22 202 869.358 202z')

  section.s-testimonials
    .s-testimonials__inner
      h2.s-testimonials__title Что вы думаете о нас
      p.s-testimonials__desc Отзывы
      .s-testimonials__slider.swiper-container
        .swiper-wrapper
          .swiper-slide
            +testimonial-card()
          .swiper-slide
            +testimonial-card()
          .swiper-slide
            +testimonial-card()
        .s-testimonials__slider-nav
          .s-testimonials__slider-prev
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100', width='40', height='40')
              path(fill='#ffffff', fill-rule='evenodd', d='M37.5251263 67.5251263c-1.3668351 1.366835-1.3668351 3.5829124 0 4.9497474 1.366835 1.3668351 3.5829124 1.3668351 4.9497474 0l20-20c1.3668351-1.366835 1.3668351-3.5829124 0-4.9497474l-20-20c-1.366835-1.3668351-3.5829124-1.3668351-4.9497474 0-1.3668351 1.366835-1.3668351 3.5829124 0 4.9497474l17.5346985 17.5346985-17.5346985 17.5155541z')
          .s-testimonials__slider-next
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100', width='40', height='40')
              path(fill='#ffffff', fill-rule='evenodd', d='M37.5251263 67.5251263c-1.3668351 1.366835-1.3668351 3.5829124 0 4.9497474 1.366835 1.3668351 3.5829124 1.3668351 4.9497474 0l20-20c1.3668351-1.366835 1.3668351-3.5829124 0-4.9497474l-20-20c-1.366835-1.3668351-3.5829124-1.3668351-4.9497474 0-1.3668351 1.366835-1.3668351 3.5829124 0 4.9497474l17.5346985 17.5346985-17.5346985 17.5155541z')

block footer
  +page-footer()