extends pug/layout.pug

block meta
  - var title = 'Services';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  section.s-services-and-price
    .s-services-and-price__inner
      +breadcrumb()
        +breadcrumb-item('Главная', '/index.html')
        +breadcrumb-item('Услуги')
      h2.s-services-and-price__title Услуги и цены
      p.s-services-and-price__desc Детишкам от 5 до 9 лет
    .s-services__slider.swiper-container
      .swiper-wrapper
        .swiper-slide
          +service-card('img/sand-animation.svg', 'Песочная анимация', 'sand-animation')
        .swiper-slide
          +service-card('img/game.svg', 'Кратковременное пребывание', 'game')
        .swiper-slide
          +service-card('img/art.svg', 'Занятия по творчеству', 'art')
        .swiper-slide
          +service-card('img/marbling.svg', 'Игровая комната', 'playroom')
        .swiper-slide
          +service-card('img/marbling.svg', 'Эбру', 'paper-marbling')
        .swiper-slide
          +service-card('img/sand-animation.svg', 'Песочная анимация', 'sand-animation')
        .swiper-slide
          +service-card('img/game.svg', 'Кратковременное пребывание', 'game')
        .swiper-slide
          +service-card('img/art.svg', 'Занятия по творчеству', 'art')
        .swiper-slide
          +service-card('img/marbling.svg', 'Игровая комната', 'playroom')
        .swiper-slide
          +service-card('img/marbling.svg', 'Эбру', 'paper-marbling')
    .s-services-and-price__wave
      svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1920 181')
        path(fill='#eef6ce', d='M429 164.5C216.5 164.5 0 .5 0 .5v180h1919.5v-96s-43 49-170.5 49S1341.5 43 1133.5 43 641.5 164.5 429 164.5z')

  section.s-schedule
    .s-schedule__inner
      h2.s-schedule__title Расписание
      p.s-schedule__desc Наши занятия
      .s-schedule-info
        +schedule-mobile()
        +schedule-table()
    .s-schedule__wave
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 1924 169')
        path(fill='#ecf8fb', d='M415 0C167 .00024414.5 24.0002.5 24.0002V168.5H1924V101s-132.5 46.5-400.5 46.5S663-.00024414 415 0z')


  section.s-testimonials
    .s-testimonials__inner
      h2.s-testimonials__title Что вы думаете о нас
      p.s-testimonials__desc Отзывы
      .s-testimonials__slider.swiper-container
        .swiper-wrapper
          .swiper-slide
            +testimonial-card()
          .swiper-slide
            +testimonial-card()
          .swiper-slide
            +testimonial-card()
        .s-testimonials__slider-nav
          .s-testimonials__slider-prev
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100', width='40', height='40')
              path(fill='#ffffff', fill-rule='evenodd', d='M37.5251263 67.5251263c-1.3668351 1.366835-1.3668351 3.5829124 0 4.9497474 1.366835 1.3668351 3.5829124 1.3668351 4.9497474 0l20-20c1.3668351-1.366835 1.3668351-3.5829124 0-4.9497474l-20-20c-1.366835-1.3668351-3.5829124-1.3668351-4.9497474 0-1.3668351 1.366835-1.3668351 3.5829124 0 4.9497474l17.5346985 17.5346985-17.5346985 17.5155541z')
          .s-testimonials__slider-next
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100', width='40', height='40')
              path(fill='#ffffff', fill-rule='evenodd', d='M37.5251263 67.5251263c-1.3668351 1.366835-1.3668351 3.5829124 0 4.9497474 1.366835 1.3668351 3.5829124 1.3668351 4.9497474 0l20-20c1.3668351-1.366835 1.3668351-3.5829124 0-4.9497474l-20-20c-1.366835-1.3668351-3.5829124-1.3668351-4.9497474 0-1.3668351 1.366835-1.3668351 3.5829124 0 4.9497474l17.5346985 17.5346985-17.5346985 17.5155541z')

block footer
  +page-footer()