@font-face {
  font-family: 'Calibri';
  src: url('../fonts/subset-Calibri.woff2') format('woff2'),
       url('../fonts/subset-Calibri.woff') format('woff'),
       url('../fonts/subset-Calibri.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/subset-Calibri-Italic.woff2') format('woff2'),
       url('../fonts/subset-Calibri-Italic.woff') format('woff'),
       url('../fonts/subset-Calibri-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/subset-Calibri-Bold.woff2') format('woff2'),
       url('../fonts/subset-Calibri-Bold.woff') format('woff'),
       url('../fonts/subset-Calibri-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/subset-Calibri-BoldItalic.woff2') format('woff2'),
       url('../fonts/subset-Calibri-BoldItalic.woff') format('woff'),
       url('../fonts/subset-Calibri-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'AFuturaRoundBold';
  src: url('../fonts/subset-AFuturaRoundBold.woff2') format('woff2'),
       url('../fonts/subset-AFuturaRoundBold.woff') format('woff'),
       url('../fonts/subset-AFuturaRoundBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}