// Width
$screen-xs:                   576px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1440px;
$screen-xxl:                  1920px;


// Colors
$text-color:                  #21323a;
$text-color--lighter:         lighen($text-color, 25%);
$bg-color:                    #fff;
$bg-color--shade:             #f8fafb;
$bg-color--dark:              $text-color;


// Misc
$border-color:                currentColor;
$border-radius:               2px;
$opacity:                     0.5;
$box-shadow:                  0 15px 45px -15px rgba($text-color, 0.25);


// Font
$font-family: 'Calibri', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

$font-family--heading: 'AFuturaRoundBold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

$font-family--monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', nospace;


// Layout

@mixin section-padding {
  padding: 40px 20px;

  @media (min-width: $screen-sm) {
    padding: 120px 20px;
  }
}

@mixin section-title {
  font-size: 32px;
  line-height: 36px;
  color: #049bbe;
  font-weight: 700;
  text-align: center;
  margin: 0 0 10px 0;
  font-family: $font-family--heading;

  @media (min-width: $screen-sm) {
    font-size: 48px;
    line-height: 60px;
  }
}

@mixin section-desc {
  font-size: 24px;
  line-height: 30px;
  color: #86b0c4;
  font-weight: 700;
  text-align: center;
  margin: 0 0 30px 0;

  @media (min-width: $screen-sm) {
    margin: 0 0 45px 0;
  }
}