.s-event-gallery {
  position: relative;
  background-color: #eef6ce;
  @include section-padding;

  @media (min-width: $screen-xl) {
    background-image:
      url(../img/palms-5--yellow.svg),
      url(../img/birds-3--yellow.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left -30% top 100%, right 0% top 40%;
    background-size: 786px 1052px, 192px 190px;

    &::before,
    &::after {
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: 10;
    }

    &::before {
      background-image: url(../img/sand-castle.png);
      width: 350px;
      height: 366px;
      bottom: -10%;
      right: 5%;
    }

    &::after {
      background-image: url(../img/turtle.svg);
      width: 312px;
      height: 235px;
      top: -10%;
      left: 5%;
    }
  }

  &__inner {
    max-width: 1200px;
    margin: auto;
    z-index: 2;
    position: relative;

    .row {
      margin-left: -10px;
      margin-right: -10px;
    }

    [class^='col-']{
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  &__item {
    max-width: 100%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
    display: block;

    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: (3 / 4) * 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}