.s-hamburger {
  width: 30px;
  height: 30px;
  padding: 0;
  position: relative;
  cursor: pointer;
  z-index: 100;
  color: #fff;

  span {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate3d(-50%,-20%,0);
    border-radius: 3px;

    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: inherit;
      border-radius: 3px;
    }

    &::before {
      top: -0.4rem;
      right: 0;
      width: 60%;
    }

    &::after {
      bottom: -0.4rem;
      right: 0;
      width: 80%;
    }
  }

  &--close {
    color: $text-color;
  }
}